body{
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background-image: url('../public/portada.jpg');
  background-size: cover;
  background-position: center;
  padding: 4rem 1rem;
}

.hero-content {
  padding: 2rem 1.5rem;
  border-radius: 16px;
  text-align: center;
}

.hero h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}


.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}


.btn-primary  {
  padding: 0.75rem 1.5rem;
  background-color: #3A4632;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
    color: white;
}

.btn-secondary {
  color: white;
  padding: 0.75rem 1.5rem;
  background-color: #A84628;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}


.btn-primary:hover {
  transform: translateY(-5px);
  background-color: #516c3f;
  color: white;
}
.btn-secondary:hover {
  transform: translateY(-5px);
  background-color: #e76f51;
  color: white;
}

.talleres {
  background-color: #f3d9d6;
  padding: 3rem 1rem;
  text-align: center;
}

.talleres h2 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.talleres-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}


.taller-public {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.taller-public:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 40px rgba(0,0,0,0.15);
}

.taller-public img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}


@media (min-width: 768px) {
  .hero {
    padding: 6rem 2rem;
  }

  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .hero-buttons {
    flex-direction: row;
    justify-content: center;
  }

  .talleres-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .hero h1 {
    font-size: 2.6rem;
  }

  .talleres-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
